.header-wrapper {
    display: flex;
    Justify-content: space-around;
}

.header-block {
    display: inline-block;
    text-align: center;
}


.disable {
    display: none;
}

.registration-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.registration-form-fields-wrapper {
    display: flex;
    flex-direction: column;
}


.registration-form-fields-item {
    display: grid;
    margin-bottom: 10px;
}