.header-wrapper {
    display: flex;
    Justify-content: space-around;
}

.header-block {
    display: inline-block;
    text-align: center;
}


.disable {
    display: none;
}

.registration-form-wrapper, .login-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.registration-form-fields-wrapper, .login-form-fields-wrapper {
    display: flex;
    flex-direction: column;
}


.registration-form-fields-item, .login-form-fields-item{
    display: grid;
    margin-bottom: 10px;
}

.items-list  {
    margin-top: 100px;
    align-items: left;
}

.order-items {
    margin-top: 100px;
    display: grid;
    align-items: center;
}

.items-list-elem {
    margin-bottom: 30px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}



